@font-face {
    font-family: wanted;
    src: url(../vendor/fonte/times-new-roman-bold.otf);
}

@font-face {
    font-family: deadoralive;
    src: url(../vendor/fonte/century-old-style.otf);
}

body,
ul,
li,
p,
a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;

}

a{
    text-decoration: none;
    color: white;
}

.background { 
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}


.wanted {
    margin-top: 12vh;
    font-family: tim;
    font-size: 5vh;
    background-color: maroon;
    width: 1000px;
    margin-left: 25vw;
    position: relative;
    z-index: 8;
    
}

.deadoralive {
    font-family: deadoralive;
    font-size:5vh;
    background-color: maroon;
    margin-left: 25vw;
    width: 1000px;
    position: relative;
    z-index: 7;
}

.fundocartaz {
       display: flex;
       flex-wrap: wrap;
       border-radius: 5px;
       width: 1000px;
       margin-top: -63px;
       margin-bottom: -65px;
       z-index: 1;
       margin-left: 25vw;
       height: 100%px;
       position: relative;
       align-items: column;
       box-shadow: 0 0 5px rgba(0, 2, 2, 0.7);
       background: rgba(255, 255, 255, 0.09);
       backdrop-filter: saturate(180%) blur(10px); /* filtros */
}

.footer {
    margin-top: -44px;
    background: #000;
    color: white;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    margin-top: -58px;
}

.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
    position: relative;
    margin-bottom: -112px;
}

.menu {
    display: flex
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX */

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: 5vw;
}

.flex > div {
    flex: 1 1 185px;
    margin: 10px;
    align-items: column;
    background-color: maroon;
}

.flex > div > h2 {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Estilização dos contatos*/

/* Estilos para o contêiner central */
.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Largura do campo */
    height: 500px;
    background-color: #f1f1f1;
    text-align: center  ;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Estilos para o texto dentro do campo (opcional) */
.center-container > form {
    font-size: 18px; /* Tamanho da fonte do texto */
    color: #333; /* Cor do texto */
}

.center-container > div {
    padding: 25px;
}
